body, h1, h2, h3, p, ul, ol, li, input, button {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font-family: Arial, sans-serif;
    vertical-align: baseline;
}

body {
    line-height: 1;

}



h1, h2, h3 {
    font-weight: normal;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="bio"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

form textarea {
    resize: vertical;
    min-height: 100px;
}


form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.flex-container{
    display: flex;
    margin-bottom: 0px;
}

.flex-rectangle {
    
    height: 120px;
    width: 75px;
    background-color: #555;
}


.flex-col{
    flex: 1;
    margin: 0px 200px 0px 20px;
}

.flex-panel{
    flex: 1;
}

.read-only {
  pointer-events: none;
  background-color: #f5f5f5;
  height: 50%;
  color: #666;
}

.large-read-only {
    pointer-events: none;
    background-color: #f5f5f5;
    height: 150px;
    color: #666;
  }
 
.margins {
    margin: 20px;
}

.button {
    font-size: 18px;
    padding: 10px 20px;
  }
  
.name-email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.name-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.email-box {
  margin-left: 10px;
}
  
  
  .name-box {
    margin-left: 10px;
  }
