
.surface-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  color: #000;
}

.text-900 {
  font-weight: 900;
  padding-bottom: 10px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.w-full {
  width: 100%;
}

/* Style the submit button */
.p-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style the link for "Create today!" and "Forgot your password?" */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the checkbox */
.p-checkbox-box {
  border: 1px solid #007bff;
}

/* Style the "Remember me" label */
.p-checkbox-label {
  margin-left: 5px;
}

/* Style the logo */
.logo {
  height: 50px;
  margin-bottom: 15px;
}

/* Adjust text color for the password reset form */
.text-900, .text-600, .font-medium {
  color: #000; /* Black color */
   padding-bottom: 10px;
}

/* Center password reset form */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  
}

  